$font-primary: 'Roboto', sans-serif;
$font-assistant: 'Roboto Slab', serif;
$font-secondary: 'Open Sans', sans-serif;
$font-assistant-sec: 'Lato', sans-serif;

$white: #FFFFFF;
$dark-white: #F6F6F8;
$gray: #656565;
$light-gray: #C4C4C4;
$medium-gray: #E7E6E1;
$dark-gray: #656666;
$blue: #32B3B9;
$light-blue: #38C1C9;
$green: #A3CF53;
$dark-blue: #34425F;